*.ncb
*.suo
*.user
*.opensdf
*.sdf
*.log
*.dSYM
*.exp
*.pdb
*.lib
*.dll
*.ilk
ipch
Thumbs.db
Content/Integration/DirectX9/_temp
Content/Integration/DirectX9/Debug
Content/Integration/DirectX9/Release
Content/Integration/DirectX9/Profile
Content/Integration/DirectX11/x64
Content/Integration/DirectX11/Debug
Content/Integration/DirectX11/Release
Content/Integration/DirectX11/Profile
Content/Integration/DirectX11/Tutorial05/x64
Content/Integration/DirectX11/Tutorial05/Debug
Content/Integration/DirectX11/Tutorial05/Release
Content/Integration/DirectX11/Tutorial05/Profile
Content/Integration/OpenGL/Visual Studio/_temp
Content/Integration/OpenGL/Visual Studio/Debug
Content/Integration/OpenGL/Visual Studio/Release
Content/Integration/OpenGL/XCode/Release
Content/Integration/OpenGL/XCode/Debug
Content/Integration/OpenGL/XCode/SpinningCube.xcodeproj/project.xcworkspace
Content/Integration/OpenGL/XCode/SpinningCube.xcodeproj/xcuserdata
Content/Integration/iOS/_intermediate
Content/Integration/iOS/Integration.xcodeproj/xcuserdata
Content/Integration/iOS/Integration.xcodeproj/project.xcworkspace/xcuserdata
Content/Integration/iOS/Release-iphoneos
Content/Integration/iOS/Debug-iphoneos
Content/Extending/Debug
Content/Extending/Release
Content/Application/Debug
Content/Application/Release

Content/DataBinding/Unity/obj
Content/DataBinding/Unity/Library
Content/DataBinding/Unity/Assets/Plugins*
Content/DataBinding/Unity/Assets/Editor*
Content/DataBinding/Unity/Assets/StreamingAssets*
Content/DataBinding/Unity/*.sln
Content/DataBinding/Unity/*.csproj
Content/DataBinding/C++/Debug
Content/DataBinding/C++/Release

Content/Commands/Unity/obj
Content/Commands/Unity/Library
Content/Commands/Unity/Assets/Plugins*
Content/Commands/Unity/Assets/Editor*
Content/Commands/Unity/Assets/StreamingAssets*
Content/Commands/Unity/*.sln
Content/Commands/Unity/*.csproj
Content/Commands/C++/Debug
Content/Commands/C++/Release

Samples/MenuDemo/Unity/Assets/Editor*
Samples/MenuDemo/Unity/Assets/Plugins*
Samples/MenuDemo/Unity/Assets/StreamingAssets*
Samples/MenuDemo/Unity/Assets/UnityVS*
Samples/MenuDemo/Unity/bin
Samples/MenuDemo/Unity/Library
Samples/MenuDemo/Unity/obj
Samples/MenuDemo/Unity/ProjectSettings
Samples/MenuDemo/Unity/Temp
Samples/MenuDemo/Unity/*.sln
Samples/MenuDemo/Unity/*.csproj

Samples/RenderTexture/Unity/Assets/Editor*
Samples/RenderTexture/Unity/Assets/Plugins*
Samples/RenderTexture/Unity/Assets/StreamingAssets*
Samples/RenderTexture/Unity/Assets/UnityVS*
Samples/RenderTexture/Unity/bin
Samples/RenderTexture/Unity/Library
Samples/RenderTexture/Unity/obj
Samples/RenderTexture/Unity/ProjectSettings
Samples/RenderTexture/Unity/Temp
Samples/RenderTexture/Unity/*.sln
Samples/RenderTexture/Unity/*.csproj
