# svn
.svn

.vs
*.ncb
*.suo
*.user
*.opensdf
*.sdf
*.log
*.dSYM
*.exp
*.pdb
*.lib
*.dll
*.ilk
ipch
Thumbs.db

**/Assets/NoesisGUI/Plugins*
**/UE4/Binaries/**
**/UE4/Intermediate/**
**/UE4/Plugins/**
**/UE4/Saved/**
**/UE4/DerivedDataCache/**
**/UE4/Assets/**/bin/**
**/UE4/Assets/**/obj/**
**/UE4/packages/**
**/Ue4/.vs/**

Content/Integration/DirectX9/_temp
Content/Integration/DirectX9/Debug
Content/Integration/DirectX9/Release
Content/Integration/DirectX9/Profile
Content/Integration/DirectX11/x64
Content/Integration/DirectX11/Debug
Content/Integration/DirectX11/Release
Content/Integration/DirectX11/Profile
Content/Integration/DirectX11/Tutorial05/x64
Content/Integration/DirectX11/Tutorial05/Debug
Content/Integration/DirectX11/Tutorial05/Release
Content/Integration/DirectX11/Tutorial05/Profile
Content/Integration/OpenGL/Visual Studio/_temp
Content/Integration/OpenGL/Visual Studio/Debug
Content/Integration/OpenGL/Visual Studio/Release
Content/Integration/OpenGL/XCode/Release
Content/Integration/OpenGL/XCode/Debug
Content/Integration/OpenGL/XCode/SpinningCube.xcodeproj/project.xcworkspace
Content/Integration/OpenGL/XCode/SpinningCube.xcodeproj/xcuserdata
Content/Integration/iOS/_intermediate
Content/Integration/iOS/Integration.xcodeproj/xcuserdata
Content/Integration/iOS/Integration.xcodeproj/project.xcworkspace/xcuserdata
Content/Integration/iOS/Release-iphoneos
Content/Integration/iOS/Debug-iphoneos
Content/Extending/Debug
Content/Extending/Release
Content/Application/Debug
Content/Application/Release

Samples/ActionBar/Unity/Unity.*
Samples/ActionBar/Unity/Library
Samples/ActionBar/Unity/Temp
Samples/ActionBar/Unity/UnityPackageManager/
Samples/ActionBar/Unity/ProjectSettings/
Samples/ActionBar/Unity/packages/
Samples/ActionBar/Unity/Blend/ActionBar/bin
Samples/ActionBar/Unity/Blend/ActionBar/obj
Samples/ActionBar/Unity/Assets/NoesisGUI/Settings*

Samples/RenderTexture/Unity/Unity*
Samples/RenderTexture/Unity/Library
Samples/RenderTexture/Unity/Temp
Samples/RenderTexture/Unity/UnityPackageManager/
Samples/RenderTexture/Unity/ProjectSettings/*
!Samples/RenderTexture/Unity/ProjectSettings/InputManager.asset
Samples/RenderTexture/Unity/packages/
Samples/RenderTexture/Unity/Blend/RenderTexture/bin
Samples/RenderTexture/Unity/Blend/RenderTexture/obj
Samples/RenderTexture/Unity/Assets/NoesisGUI/Settings*

Samples/Widget3D/Unity/Unity*
Samples/Widget3D/Unity/Library
Samples/Widget3D/Unity/Temp
Samples/Widget3D/Unity/UnityPackageManager/
Samples/Widget3D/Unity/ProjectSettings/*
!Samples/Widget3D/Unity/ProjectSettings/InputManager.asset
Samples/Widget3D/Unity/packages/
Samples/Widget3D/Unity/Blend/Widget3D/bin
Samples/Widget3D/Unity/Blend/Widget3D/obj
Samples/Widget3D/Unity/Assets/NoesisGUI/Settings*

Samples/Buttons/Unity/Unity.*
Samples/Buttons/Unity/Library/
Samples/Buttons/Unity/Temp/
Samples/Buttons/Unity/UnityPackageManager/
Samples/Buttons/Unity/ProjectSettings/*
!Samples/Buttons/Unity/ProjectSettings/InputManager.asset
Samples/Buttons/Unity/packages/
Samples/Buttons/Unity/Blend/Buttons/bin/
Samples/Buttons/Unity/Blend/Buttons/obj/
Samples/Buttons/Unity/Assets/NoesisGUI/Settings*

Samples/Commands/Unity/Unity.*
Samples/Commands/Unity/Library/
Samples/Commands/Unity/Temp/
Samples/Commands/Unity/Assets/NoesisGUI/Theme*
Samples/Commands/Unity/UnityPackageManager/
Samples/Commands/Unity/ProjectSettings/*
!Samples/Commands/Unity/ProjectSettings/InputManager.asset
Samples/Commands/Unity/packages/
Samples/Commands/Unity/Blend/Commands/bin/
Samples/Commands/Unity/Blend/Commands/obj/
Samples/Commands/Unity/Assets/NoesisGUI/Settings*
Samples/Commands/Unity/Assets/Resources/NoesisSettings*

Samples/DataBinding/Unity/Unity.*
Samples/DataBinding/Unity/Library/
Samples/DataBinding/Unity/Temp/
Samples/DataBinding/Unity/Assets/NoesisGUI/Theme*
Samples/DataBinding/Unity/UnityPackageManager/
Samples/DataBinding/Unity/ProjectSettings/*
!Samples/DataBinding/Unity/ProjectSettings/InputManager.asset
Samples/DataBinding/Unity/packages/
Samples/DataBinding/Unity/Blend/DataBinding/bin/
Samples/DataBinding/Unity/Blend/DataBinding/obj/
Samples/DataBinding/Unity/Assets/NoesisGUI/Settings*
Samples/DataBinding/Unity/Assets/Resources/NoesisSettings*

Samples/Detroit/C#/Projects/*/obj/*
Samples/Detroit/C#/Projects/*/bin/*
Samples/Detroit/Unity/Assembly-CSharp*
Samples/Detroit/Unity/Unity.*
Samples/Detroit/Unity/Library/
Samples/Detroit/Unity/Temp/
Samples/Detroit/Unity/UnityPackageManager/
Samples/Detroit/Unity/ProjectSettings/*
Samples/Detroit/Unity/UserSettings/*
!Samples/Detroit/Unity/ProjectSettings/InputManager.asset
Samples/Detroit/Unity/packages/
Samples/Detroit/Unity/Blend/NineSlice/bin/
Samples/Detroit/Unity/Blend/NineSlice/obj/
Samples/Detroit/Unity/Assets/NoesisGUI/Settings*

Samples/Gallery/Unity/Unity.*
Samples/Gallery/Unity/Unity.*
Samples/Gallery/Unity/Library/
Samples/Gallery/Unity/Temp/
Samples/Gallery/Unity/UnityPackageManager/
Samples/Gallery/Unity/ProjectSettings/*
!Samples/Gallery/Unity/ProjectSettings/InputManager.asset
Samples/Gallery/Unity/packages/
Samples/Gallery/Unity/Blend/Gallery/bin/
Samples/Gallery/Unity/Blend/Gallery/obj/
Samples/Gallery/Unity/Assets/NoesisGUI/Settings*

Samples/HelloWorld/Unity/Unity.*
Samples/HelloWorld/Unity/Library/
Samples/HelloWorld/Unity/Temp/
Samples/HelloWorld/Unity/UnityPackageManager/
Samples/HelloWorld/Unity/ProjectSettings/*
!Samples/HelloWorld/Unity/ProjectSettings/InputManager.asset
Samples/HelloWorld/Unity/packages/
Samples/HelloWorld/Unity/Blend/HelloWorld/bin/
Samples/HelloWorld/Unity/Blend/HelloWorld/obj/
Samples/HelloWorld/Unity/Assets/NoesisGUI/Settings*

Samples/Inventory/Unity/Unity.*
Samples/Inventory/Unity/Deploys/
Samples/Inventory/Unity/Library/
Samples/Inventory/Unity/Temp/
Samples/Inventory/Unity/UnityPackageManager/
Samples/Inventory/Unity/ProjectSettings/*
!Samples/Inventory/Unity/ProjectSettings/InputManager.asset
Samples/Inventory/Unity/packages/
Samples/Inventory/Unity/Blend/Inventory/bin/
Samples/Inventory/Unity/Blend/Inventory/obj/

Samples/Localization/Unity/Unity.*
Samples/Localization/Unity/Library/
Samples/Localization/Unity/Temp/
Samples/Localization/Unity/UnityPackageManager/
Samples/Localization/Unity/ProjectSettings/*
!Samples/Localization/Unity/ProjectSettings/InputManager.asset
Samples/Localization/Unity/packages/
Samples/Localization/Unity/Blend/Localization/bin/
Samples/Localization/Unity/Blend/Localization/obj/
Samples/Localization/Unity/Assets/NoesisGUI/Settings*

Samples/Login/Unity/Unity.*
Samples/Login/Unity/Library/
Samples/Login/Unity/Temp/
Samples/Login/Unity/UnityPackageManager/
Samples/Login/Unity/ProjectSettings/*
!Samples/Login/Unity/ProjectSettings/InputManager.asset
Samples/Login/Unity/packages/
Samples/Login/Unity/Blend/Login/bin/
Samples/Login/Unity/Blend/Login/obj/
Samples/Login/Unity/Assets/NoesisGUI/Settings*

Samples/NineSlice/C#/Projects/*/obj/*
Samples/NineSlice/C#/Projects/*/bin/*
Samples/NineSlice/Unity/Assembly-CSharp*
Samples/NineSlice/Unity/Unity.*
Samples/NineSlice/Unity/Library/
Samples/NineSlice/Unity/Temp/
Samples/NineSlice/Unity/UnityPackageManager/
Samples/NineSlice/Unity/ProjectSettings/*
Samples/NineSlice/Unity/UserSettings/*
!Samples/NineSlice/Unity/ProjectSettings/InputManager.asset
Samples/NineSlice/Unity/packages/
Samples/NineSlice/Unity/Blend/NineSlice/bin/
Samples/NineSlice/Unity/Blend/NineSlice/obj/
Samples/NineSlice/Unity/Assets/NoesisGUI/Settings*

Samples/QuestLog/Unity/Unity.*
Samples/QuestLog/Unity/Library/
Samples/QuestLog/Unity/Temp/
Samples/QuestLog/Unity/UnityPackageManager/
Samples/QuestLog/Unity/ProjectSettings/*
!Samples/QuestLog/Unity/ProjectSettings/InputManager.asset
Samples/QuestLog/Unity/packages/
Samples/QuestLog/Unity/Blend/QuestLog/bin/
Samples/QuestLog/Unity/Blend/QuestLog/obj/
Samples/QuestLog/Unity/Assets/NoesisGUI/Settings*

Samples/RadialMenu/C#/Projects/*/obj/*
Samples/RadialMenu/C#/Projects/*/bin/*
Samples/RadialMenu/Unity/Assembly-CSharp*
Samples/RadialMenu/Unity/Unity.*
Samples/RadialMenu/Unity/Library/
Samples/RadialMenu/Unity/Temp/
Samples/RadialMenu/Unity/UnityPackageManager/
Samples/RadialMenu/Unity/ProjectSettings/*
Samples/RadialMenu/Unity/UserSettings/*
!Samples/RadialMenu/Unity/ProjectSettings/InputManager.asset
Samples/RadialMenu/Unity/packages/
Samples/RadialMenu/Unity/Blend/NineSlice/bin/
Samples/RadialMenu/Unity/Blend/NineSlice/obj/
Samples/RadialMenu/Unity/Assets/NoesisGUI/Settings*

Samples/Scoreboard/Unity/Unity.*
Samples/Scoreboard/Unity/Library/
Samples/Scoreboard/Unity/Temp/
Samples/Scoreboard/Unity/UnityPackageManager/
Samples/Scoreboard/Unity/ProjectSettings/*
!Samples/Scoreboard/Unity/ProjectSettings/InputManager.asset
Samples/Scoreboard/Unity/packages/
Samples/Scoreboard/Unity/Blend/Scoreboard/bin/
Samples/Scoreboard/Unity/Blend/Scoreboard/obj/
Samples/Scoreboard/Unity/Assets/NoesisGUI/Settings*
Samples/Scoreboard/C++/Data/bin
Samples/Scoreboard/C++/Data/obj

Samples/TicTacToe/Unity/Unity.*
Samples/TicTacToe/Unity/Library/
Samples/TicTacToe/Unity/Temp/
Samples/TicTacToe/Unity/UnityPackageManager/
Samples/TicTacToe/Unity/ProjectSettings/*
!Samples/TicTacToe/Unity/ProjectSettings/InputManager.asset
Samples/TicTacToe/Unity/packages/
Samples/TicTacToe/Unity/Blend/TicTacToe/bin/
Samples/TicTacToe/Unity/Blend/TicTacToe/obj/
Samples/TicTacToe/Unity/Assets/NoesisGUI/Settings*

Samples/Menu3D/C++/Data/bin/
Samples/Menu3D/C++/Data/obj/
Samples/Menu3D/Unity/Unity.*
Samples/Menu3D/Unity/Library/
Samples/Menu3D/Unity/Temp/
Samples/Menu3D/Unity/UnityPackageManager/
Samples/Menu3D/Unity/ProjectSettings/*
!Samples/Menu3D/Unity/ProjectSettings/InputManager.asset
Samples/Menu3D/Unity/packages/
Samples/Menu3D/Unity/Blend/Menu3D/bin/
Samples/Menu3D/Unity/Blend/Menu3D/obj/

Samples/NorthGame/Unity/Unity.*
Samples/NorthGame/Unity/Library/
Samples/NorthGame/Unity/Temp/
Samples/NorthGame/Unity/UnityPackageManager/
Samples/NorthGame/Unity/ProjectSettings/*
!Samples/NorthGame/Unity/ProjectSettings/InputManager.asset
Samples/NorthGame/Unity/packages/
Samples/NorthGame/Unity/Blend/NorthGame/bin/
Samples/NorthGame/Unity/Blend/NorthGame/obj/

Samples/SciFi/Unity/Unity.*
Samples/SciFi/Unity/Library/
Samples/SciFi/Unity/Temp/
Samples/SciFi/Unity/UnityPackageManager/
Samples/SciFi/Unity/ProjectSettings/*
!Samples/SciFi/Unity/ProjectSettings/InputManager.asset
Samples/SciFi/Unity/packages/
Samples/SciFi/Unity/Blend/SciFi/bin/
Samples/SciFi/Unity/Blend/SciFi/obj/
Samples/SciFi/Unity/Blend/NorthGame/bin/
Samples/SciFi/Unity/Blend/NorthGame/obj/
Samples/SciFi/Unity/Assets/NoesisGUI/Settings*

Samples/Touch/Unity/Unity.*
Samples/Touch/Unity/Library/
Samples/Touch/Unity/Temp/
Samples/Touch/Unity/UnityPackageManager/
Samples/Touch/Unity/ProjectSettings/*
!Samples/Touch/Unity/ProjectSettings/InputManager.asset
Samples/Touch/Unity/packages/
Samples/Touch/Unity/Blend/Touch/bin/
Samples/Touch/Unity/Blend/Touch/obj/
Samples/Touch/Unity/Assets/NoesisGUI/Settings*
