# svn
.svn

.vs
*.ncb
*.suo
*.user
*.opensdf
*.sdf
*.log
*.dSYM
*.exp
*.pdb
*.lib
*.dll
*.ilk
ipch
Thumbs.db

Content/Integration/DirectX9/_temp
Content/Integration/DirectX9/Debug
Content/Integration/DirectX9/Release
Content/Integration/DirectX9/Profile
Content/Integration/DirectX11/x64
Content/Integration/DirectX11/Debug
Content/Integration/DirectX11/Release
Content/Integration/DirectX11/Profile
Content/Integration/DirectX11/Tutorial05/x64
Content/Integration/DirectX11/Tutorial05/Debug
Content/Integration/DirectX11/Tutorial05/Release
Content/Integration/DirectX11/Tutorial05/Profile
Content/Integration/OpenGL/Visual Studio/_temp
Content/Integration/OpenGL/Visual Studio/Debug
Content/Integration/OpenGL/Visual Studio/Release
Content/Integration/OpenGL/XCode/Release
Content/Integration/OpenGL/XCode/Debug
Content/Integration/OpenGL/XCode/SpinningCube.xcodeproj/project.xcworkspace
Content/Integration/OpenGL/XCode/SpinningCube.xcodeproj/xcuserdata
Content/Integration/iOS/_intermediate
Content/Integration/iOS/Integration.xcodeproj/xcuserdata
Content/Integration/iOS/Integration.xcodeproj/project.xcworkspace/xcuserdata
Content/Integration/iOS/Release-iphoneos
Content/Integration/iOS/Debug-iphoneos
Content/Extending/Debug
Content/Extending/Release
Content/Application/Debug
Content/Application/Release

Content/DataBinding/Unity/obj
Content/DataBinding/Unity/Library
Content/DataBinding/Unity/Assets/Plugins*
Content/DataBinding/Unity/Assets/Editor*
Content/DataBinding/Unity/Assets/StreamingAssets*
Content/DataBinding/Unity/*.sln
Content/DataBinding/Unity/*.csproj
Content/DataBinding/C++/Debug
Content/DataBinding/C++/Release

Content/Commands/Unity/obj
Content/Commands/Unity/Library
Content/Commands/Unity/Assets/Plugins*
Content/Commands/Unity/Assets/Editor*
Content/Commands/Unity/Assets/StreamingAssets*
Content/Commands/Unity/*.sln
Content/Commands/Unity/*.csproj
Content/Commands/C++/Debug
Content/Commands/C++/Release

Content/Touch/Unity/obj
Content/Touch/Unity/Library
Content/Touch/Unity/Assets/Plugins*
Content/Touch/Unity/Assets/Editor*
Content/Touch/Unity/Assets/StreamingAssets*
Content/Touch/Unity/*.sln
Content/Touch/Unity/*.csproj
Content/Touch/C++/Debug
Content/Touch/C++/Release

Samples/ActionBar/Unity/Unity.*
Samples/ActionBar/Unity/bin
Samples/ActionBar/Unity/Library
Samples/ActionBar/Unity/obj
Samples/ActionBar/Unity/Temp
Samples/ActionBar/Unity/UnityPackageManager/
Samples/ActionBar/Unity/ProjectSettings/
Samples/ActionBar/Unity/Assets/NoesisGUI/Plugins*
Samples/ActionBar/Unity/Assets/NoesisGUI/Settings*
Samples/ActionBar/Unity/Assets/NoesisGUI/Samples/Interactivity*

Samples/RenderTexture/Unity/Unity*
Samples/RenderTexture/Unity/Library
Samples/RenderTexture/Unity/Temp
Samples/RenderTexture/Unity/UnityPackageManager/
Samples/RenderTexture/Unity/ProjectSettings/*
!Samples/RenderTexture/Unity/ProjectSettings/InputManager.asset
Samples/RenderTexture/Unity/packages/
Samples/RenderTexture/Unity/Blend/RenderTexture/bin
Samples/RenderTexture/Unity/Blend/RenderTexture/obj
Samples/RenderTexture/Unity/Assets/NoesisGUI/Plugins*
Samples/RenderTexture/Unity/Assets/NoesisGUI/Settings*
Samples/RenderTexture/Unity/Assets/NoesisGUI/Samples/Interactivity*

Samples/Widget3D/Unity/Unity*
Samples/Widget3D/Unity/Library
Samples/Widget3D/Unity/Temp
Samples/Widget3D/Unity/UnityPackageManager/
Samples/Widget3D/Unity/ProjectSettings/*
!Samples/Widget3D/Unity/ProjectSettings/InputManager.asset
Samples/Widget3D/Unity/packages/
Samples/Widget3D/Unity/Blend/Widget3D/bin
Samples/Widget3D/Unity/Blend/Widget3D/obj
Samples/Widget3D/Unity/Assets/NoesisGUI/Plugins*
Samples/Widget3D/Unity/Assets/NoesisGUI/Settings*
Samples/Widget3D/Unity/Assets/NoesisGUI/Samples/Interactivity*

Samples/Buttons/Unity/Unity.*
Samples/Buttons/Unity/Library/
Samples/Buttons/Unity/Temp/
Samples/Buttons/Unity/UnityPackageManager/
Samples/Buttons/Unity/ProjectSettings/*
!Samples/Buttons/Unity/ProjectSettings/InputManager.asset
Samples/Buttons/Unity/packages/
Samples/Buttons/Unity/Blend/Buttons/bin/
Samples/Buttons/Unity/Blend/Buttons/obj/
Samples/Buttons/Unity/Assets/NoesisGUI/Plugins*
Samples/Buttons/Unity/Assets/NoesisGUI/Settings*
Samples/Buttons/Unity/Assets/NoesisGUI/Samples/Interactivity*

Samples/ControlGallery/Unity/Unity.*
Samples/ControlGallery/Unity/Unity.*
Samples/ControlGallery/Unity/Library/
Samples/ControlGallery/Unity/Temp/
Samples/ControlGallery/Unity/UnityPackageManager/
Samples/ControlGallery/Unity/ProjectSettings/*
!Samples/ControlGallery/Unity/ProjectSettings/InputManager.asset
Samples/ControlGallery/Unity/packages/
Samples/ControlGallery/Unity/Blend/ControlGallery/bin/
Samples/ControlGallery/Unity/Blend/ControlGallery/obj/
Samples/ControlGallery/Unity/Assets/NoesisGUI/Plugins*
Samples/ControlGallery/Unity/Assets/NoesisGUI/Settings*
Samples/ControlGallery/Unity/Assets/NoesisGUI/Samples/Interactivity*

Samples/HelloWorld/Unity/Unity.*
Samples/HelloWorld/Unity/Library/
Samples/HelloWorld/Unity/Temp/
Samples/HelloWorld/Unity/UnityPackageManager/
Samples/HelloWorld/Unity/ProjectSettings/*
!Samples/HelloWorld/Unity/ProjectSettings/InputManager.asset
Samples/HelloWorld/Unity/packages/
Samples/HelloWorld/Unity/Blend/HelloWorld/bin/
Samples/HelloWorld/Unity/Blend/HelloWorld/obj/
Samples/HelloWorld/Unity/Assets/NoesisGUI/Plugins*
Samples/HelloWorld/Unity/Assets/NoesisGUI/Settings*
Samples/HelloWorld/Unity/Assets/NoesisGUI/Samples/Interactivity*

Samples/Inventory/Unity/Unity.*
Samples/Inventory/Unity/Deploys/
Samples/Inventory/Unity/Library/
Samples/Inventory/Unity/Temp/
Samples/Inventory/Unity/UnityPackageManager/
Samples/Inventory/Unity/ProjectSettings/*
!Samples/Inventory/Unity/ProjectSettings/InputManager.asset
Samples/Inventory/Unity/packages/
Samples/Inventory/Unity/Blend/Inventory/bin/
Samples/Inventory/Unity/Blend/Inventory/obj/
Samples/Inventory/Unity/Assets/NoesisGUI/Plugins*
Samples/Inventory/Unity/Assets/NoesisGUI/Samples/Interactivity*

Samples/Localization/Unity/Unity.*
Samples/Localization/Unity/Library/
Samples/Localization/Unity/Temp/
Samples/Localization/Unity/UnityPackageManager/
Samples/Localization/Unity/ProjectSettings/*
!Samples/Localization/Unity/ProjectSettings/InputManager.asset
Samples/Localization/Unity/packages/
Samples/Localization/Unity/Blend/Localization/bin/
Samples/Localization/Unity/Blend/Localization/obj/
Samples/Localization/Unity/Assets/NoesisGUI/Plugins*
Samples/Localization/Unity/Assets/NoesisGUI/Settings*
Samples/Localization/Unity/Assets/NoesisGUI/Samples/Interactivity*

Samples/Login/Unity/Unity.*
Samples/Login/Unity/Library/
Samples/Login/Unity/Temp/
Samples/Login/Unity/UnityPackageManager/
Samples/Login/Unity/ProjectSettings/*
!Samples/Login/Unity/ProjectSettings/InputManager.asset
Samples/Login/Unity/packages/
Samples/Login/Unity/Blend/Login/bin/
Samples/Login/Unity/Blend/Login/obj/
Samples/Login/Unity/Assets/NoesisGUI/Plugins*
Samples/Login/Unity/Assets/NoesisGUI/Settings*
Samples/Login/Unity/Assets/NoesisGUI/Samples/Interactivity*

Samples/QuestLog/Unity/Unity.*
Samples/QuestLog/Unity/Library/
Samples/QuestLog/Unity/Temp/
Samples/QuestLog/Unity/UnityPackageManager/
Samples/QuestLog/Unity/ProjectSettings/*
!Samples/QuestLog/Unity/ProjectSettings/InputManager.asset
Samples/QuestLog/Unity/packages/
Samples/QuestLog/Unity/Blend/QuestLog/bin/
Samples/QuestLog/Unity/Blend/QuestLog/obj/
Samples/QuestLog/Unity/Assets/NoesisGUI/Plugins*
Samples/QuestLog/Unity/Assets/NoesisGUI/Settings*
Samples/QuestLog/Unity/Assets/NoesisGUI/Samples/Interactivity*

Samples/Scoreboard/Unity/Unity.*
Samples/Scoreboard/Unity/Library/
Samples/Scoreboard/Unity/Temp/
Samples/Scoreboard/Unity/UnityPackageManager/
Samples/Scoreboard/Unity/ProjectSettings/*
!Samples/Scoreboard/Unity/ProjectSettings/InputManager.asset
Samples/Scoreboard/Unity/packages/
Samples/Scoreboard/Unity/Blend/Scoreboard/bin/
Samples/Scoreboard/Unity/Blend/Scoreboard/obj/
Samples/Scoreboard/Unity/Assets/NoesisGUI/Plugins*
Samples/Scoreboard/Unity/Assets/NoesisGUI/Settings*
Samples/Scoreboard/Unity/Assets/NoesisGUI/Samples/Interactivity*

Samples/TicTacToe/Unity/Unity.*
Samples/TicTacToe/Unity/Library/
Samples/TicTacToe/Unity/Temp/
Samples/TicTacToe/Unity/UnityPackageManager/
Samples/TicTacToe/Unity/ProjectSettings/*
!Samples/TicTacToe/Unity/ProjectSettings/InputManager.asset
Samples/TicTacToe/Unity/packages/
Samples/TicTacToe/Unity/Blend/TicTacToe/bin/
Samples/TicTacToe/Unity/Blend/TicTacToe/obj/
Samples/TicTacToe/Unity/Assets/NoesisGUI/Plugins*
Samples/TicTacToe/Unity/Assets/NoesisGUI/Settings*
Samples/TicTacToe/Unity/Assets/NoesisGUI/Samples/Interactivity*

Samples/Menu3D/C++/Data/bin/
Samples/Menu3D/C++/Data/obj/
Samples/Menu3D/Unity/Library/
Samples/Menu3D/Unity/bin/
Samples/Menu3D/Unity/obj/
Samples/Menu3D/Unity/Temp/
Samples/Menu3D/Unity/Deploys/
Samples/Menu3D/Unity/UnityPackageManager/
Samples/Menu3D/Unity/ProjectSettings/
Samples/Menu3D/Unity/Unity.*
Samples/Menu3D/Unity/Assets/NoesisGUI/Plugins*
Samples/Menu3D/Unity/Assets/NoesisGUI/Samples/Interactivity*

Samples/NorthGame/Unity/Library/
Samples/NorthGame/Unity/bin/
Samples/NorthGame/Unity/obj/
Samples/NorthGame/Unity/Temp/
Samples/NorthGame/Unity/UnityPackageManager/
Samples/NorthGame/Unity/ProjectSettings/
Samples/NorthGame/Unity/Deploys/
Samples/NorthGame/Unity/Unity.*
Samples/NorthGame/Unity/Assets/NoesisGUI/Plugins*
Samples/NorthGame/Unity/Assets/NoesisGUI/Samples/Interactivity*
